.projectConteiner {
  /* height: 120px; */
  padding: 12px;
  max-width: 200px;
  border: 1px #15ca4f solid;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.projectConteiner:hover {
  opacity: 50%;
  border-color: white;
  border-radius: 0;
}

.projectConteiner h1 {
  padding-bottom: 10px;
}