.typing {
  color: white;
  font-size: 1.2em;
  border-right: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 2.2s steps(40) 800ms normal, typing 2.2s steps(40) 1s normal both;
}

.typing2 {
  color: white;
  font-size: 1.2em;
  border-right: 2px solid transparent;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  max-width: fit-content;
  animation: blinkCursor infinite steps(40) 800ms 3s, typing 2s steps(40) 3s normal both;
}


@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }

}

@keyframes blinkCursor {
  from {
    border-right-color: white;
  }

  to {
    border-right-color: transparent;
  }

}