.jsonP1 {
  padding-left: 20px;
  padding-top: 10px;
}
.jsonP2 {
  padding-left: 40px;
  padding-top: 10px;
}
.jsonP3 {
  padding-left: 60px;
  padding-top: 10px;
}

.jsonDiv {
  /* overflow-y: auto; */
  height: calc(100vh - 270px);
  padding:0 15px;
  /* padding-right: 50%; */
  max-width: 500px;
  /* width: 100%; */
}

.jsonDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 10px);
  /* margin: 0 10px; */
  margin: 0 5px;
}
